

<nav class="c-navigation">
  <ul class="c-navigation__list">
    <li class="c-navigation__item">
      <a href="/about/" class="c-navigation__link">About</a>
    </li>
    <li class="c-navigation__item">
      <a href="/news/" class="c-navigation__link">News</a>
    </li>
    <li class="c-navigation__item">
      <a href="/contact/" class="c-navigation__link">Contact</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  @use "../scss/_setting.scss" as *;

  .c-navigation{
    &__link{
      display: flex;
      align-items: center;
      &::after{
        @include iconR;
      }
    }
  }
  
</style>